body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff8f0;
}
nav {
    background-color: #333;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 55px;
    font-size: 18px;
}
.logo {
    color: green;
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px;
}
header {
    height: 400px;
    background-image: url("https://images.indianexpress.com/2023/05/ultra-processed-food.jpg?w=640");
    background-size: cover;
    background-position: center;
}
.hero {
    height: 400px;
    text-align: center;
    padding-top: 150px;
    box-sizing: border-box;
}
h1 {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
}
.hero p {
    color: white;
    font-size: 18px;
}

.btn {
    background-color: orange;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
section {
    padding: 20px;
    text-align: center;
}
h2 {
    color: #333;
    font-size: 30px;
}
.food {
    display: inline-block;
    width: 250px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.food img {
    width: 250px;
    height: 170px;
}
.food p {
    color: orange;
    font-weight: bold;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px 30px;
}
th {
    background-color: #333;
    color: white;
}
#order {
    background-color: green;
    color: white;
}
#order h2 {
    color: orange;
}
footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}